
.card{
    box-shadow: 0 0 0.5rem #535c68;
    margin: 1rem 0rem;
    padding: 0 0 
}
.col{
    max-width: auto; 
}

.btn{
    margin: 2px 2px; 
    padding: 5px 3px; 
}


#plus, #moins {
    width: 2.2rem;
    font-weight: bold;
}

.containerButtons{
    margin: 2px 3px; 
}
