.marginDeBase{
    margin-top: 6.2rem;
}

.card-deck{
    margin: 2rem auto;
    padding: 1rem 1rem; 
    width: 80%; 
    align-items: center;
    border-radius: 5px; 
}

.card{
    /* background-color:blanchedalmond; */
    box-shadow: 0 0 0.5rem #535c68;
    margin: 1rem 0.2rem; 
}

.btn{
    margin: 2px 2px; 
    padding: 5px 3px; 
}

