.positionRelative{
    position: relative;
}

.positionAbsolute{
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
	height: auto;
	margin: 0 auto;
}

.subtitle{
    font-size: 1.5rem;
    text-shadow: 0 0 0.5rem #000000;
    color: #ffffff;
}