.card{
    border: none;
    padding: 0;
    margin: 1rem;
}

#creationProduit.card {
    background-color: #22a6b3;
    color: #ffffff;
}

#gestionProd i {
    font-size: 4rem;
    color: #ffffff;
}

