#logo {
  max-width: 15rem;
}

.navButton a {
  color: black;
  text-transform: uppercase;
}

.navButton a:hover {
  text-decoration: none;
  border-bottom: 0.2rem solid #ff7979;
}

i.small {
  font-size: 1rem;
}